<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<!--<source name="TraceTest" switchName="VerboseSwitch" switchType="System.Diagnostics.SourceSwitch">-->
			<source name="TraceTest" switchValue="Verbose">
				<listeners>
					<add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="None" initializeData="TextTrace.txt" />
					<add name="XmlWriterTraceListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="None" initializeData="TextTrace.xml" />
					<add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" traceOutputOptions="None" initializeData="TextTrace.evt" />
					<add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"/>
					<add name="DelimitedListTraceListener" type="System.Diagnostics.DelimitedListTraceListener" traceOutputOptions="None" initializeData="TextTrace.csv" />
				</listeners>
			</source>
		</sources>
		<!--<switches>
			<add name="OffSwitch" value="Off"/>
			<add name="CriticalSwitch" value="Critical"/>
			<add name="ErrorSwitch" value="Error"/>
			<add name="WarningSwitch" value="Warning"/>
			<add name="InformationSwitch" value="Information"/>
			<add name="VerboseSwitch" value="Verbose"/>
		</switches>-->
		<!--<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="TextWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:/Users/stripp/TNT/csharp/POC/TraceTest/bin/Debug/application.log" />
				<add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
				<add name="DelimitedListListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="delimited.csv" traceOutputOptions="ProcessId,Timestamp" />
				--><!--<remove name="Default" />--><!--
			</listeners>
		</trace>-->
	</system.diagnostics>
</configuration>