<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections >
		<section name="StaticPartSection" type="CustConfigSec.StaticPartConfiguration, CustConfigSec"/>
	</configSections>
	<StaticPartSection>
		<StaticPartSettings>
			<add key="The key" prod="the prod" dev="the dev" desc="the desc"/>
			<add key="The key1" prod="the prod1" dev="the dev1" desc="the desc1"/>
			<add key="The key2" prod="the prod1" desc="the desc1"/>
		</StaticPartSettings>
	</StaticPartSection>
</configuration>